@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(230, 75%, 56%);
  --title-color: hsl(230, 75%, 15%);
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsla(214, 56%, 65%, 0.912);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Syne", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ' Poppins', sans-serif;
}
body{
    background-color: var(--body-color);
}

header nav{
    width: max-content;
    margin: auto;
    padding-top: 55px;
    font-size: xx-large;
    color: var(--title-color);
    transition: color 1.5s;
    transition: all 2s;
    
}

header nav:hover{
    /* position:absolute; */
    /* top:55px; */
    color: red;
    font-size: 30px;
    
}
.container {
    /* position: absolute; */
    top: -40px;
    /* margin: auto; */
    display: flex;
    padding: 10px 10px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url("/Guess The Word/image.jpg");
    background-size: cover;
}

.wrapper {
    width: 430px;
    background: #fff;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.wrapper h1{
    color: var(--title-color);
}
.wrapper.content {
    margin: 25px 25px 35px;
    color: var(--text-color);
    font-style: var(--body-font);
}

.content .inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputs input {
    height: 57px;
    width: 56px;
    margin: 4px;
    font-size: 24px;
    font-weight: 500;
    color: #ae9cff;
    text-align: center;
    border-radius: 5px;
    background: none;
    pointer-events: none;
    text-transform: uppercase;
    border: 1px solid #B5B5B5;
}

.typing-input {
    opacity: 0;
    z-index: -999;
    position: absolute;
    pointer-events: none;
}

.inputs input:first-child {
    margin-left: 0px;
}

.content.details {
    margin: 20px 0 25px;
}

.details p {
    font-size: 19px;
    margin-bottom: 10px;
}

.content .reset-btn {
    width: 80%;
    border: none;
    cursor: pointer;
    color: #fff;
    outline: none;
    padding: 15px 0;
    margin: 40px;
    font-size: 17px;
    border-radius: 5px;
    background-color: rgb(45, 30, 203);
    transition: all 0.3s ease;
}

.content .reset-btn:hover {
    background: #ae9cff;
}

@media screen and (max-width: 460px) {
    .wrapper {
        width: 100%;
    }

    .wrapper h1 {
        font-size: 22px;
        padding: 16px 20px;
    }

    .wrapper.content {
        margin: 25px 20px 35px;
    }

    .inputs input {
        height: 51px;
        width: 50px;
        margin: 3px;
        font-size: 22px;
    }
    .details p {
        font-size: 17px;
    }
    .content.reset-btn {
        padding: 14px 0;
        font-size: 16px;
    }

}